<!doctype html>
<html lang="pt">
<head>
<meta charset="UTF-8">
<title>Busca de Alunos</title>
</head>
<body>	
	<div class="container"> 

	<form name="formAlunos">		

		<div class="col-md-4">  
		<legend><H5>Dados do aluno</H5></legend>
  		<fieldset>  		
  		<div class="form-group">
  			<label>Turma</label>			
  			 <select name="turma" ng-model="aluno.idTurma" class="form-control" ng-change="buscarAlunosPorTurma()">  			
	         <option value="{{turma.id}}" ng-repeat="turma in listaTurmas">
	         {{turma.codigo}}
	         </option>
	     	</select>
		</div>				
		</fieldset>			
        </div>

        <div class="col-md-1"></div>

        <div class="col-md-8">
        <legend><H5>Alunos cadastrados</H5></legend>
  

        <table class="table table-condensed">
		<thead>
			<tr>				
				<th>Turma</th>
				<th>Matrícula</th>				
				<th>Nome</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="aluno in listaAlunos">			
				<td>
					<select name="turma" ng-model="aluno.idTurma" class="form-control input-sm">  			
	         		<option value="{{turma.id}}" ng-selected="{{turma.id==aluno.idTurma}}" ng-repeat="turma in listaTurmas">
	         		{{turma.codigo}}
	         		</option>
	     			</select>					
				</td>
				<td>				
					<input type="text" ng-model="aluno.matricula" size="15" class="form-control input-sm">
				</td>
				<td>				
					<input type="text" ng-model="aluno.nome" size="40" class="form-control input-sm">
				</td>
				<td> 
					<button ng-click="alterarAluno(aluno)" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-ok"></span></button>
				</td>	
				<td>
					<button ng-click="removerAluno(aluno)" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></button>					
				</td>
			</tr>
		</tbody>
		</table> 	
  		
        </div>             
        
	</form>

	</div>	
</body>

</html>