<!doctype html>
<html lang="pt">
<head>
<meta charset="UTF-8">
<title>Cadastro de Disciplinas</title>
</head>
<body>	
	<div class="container"> 

	<form name="formDisciplinas">		

		<div class="col-md-4">  
		<legend><H5>Nova disciplina</H5></legend>
  		<fieldset>  		
  		<div class="form-group">
  			<label>Código</label>			
  			 <input type="text" class="form-control" ng-model="disciplina.codigo" required>			
		</div>		
		<div class="form-group">
  			<label>Nome</label>			
  			 <input type="text" class="form-control" ng-model="disciplina.nome" required>			
		</div>				
		</fieldset>

			<button ng-click="adicionarDisciplina()" class="btn btn-primary" ng-disabled="formDisciplinas.$error.required">Adicionar</span></button>
        </div>

        <div class="col-md-1"></div>

        <div class="col-md-7">
        <legend><H5>Disciplinas cadastradas</H5></legend>

        <table class="table table-condensed">
		<thead>
			<tr>				
				<th>Código</th>	
				<th>Nome</th>				
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="disciplina in listaDisciplinas">			
				<td>					
					<input type="text" name="codigo" ng-model="disciplina.codigo" size="5" class="form-control input-sm" required>
				</td>	
				<td>
					<input type="text" name="nome" ng-model="disciplina.nome" size="30" class="form-control input-sm" required>
				</td>
				<td> 
					<button ng-click="alterarDisciplina(disciplina)" class="btn btn-xs btn-success" ng-disabled="formDisciplinas.codigo.$error.required || formDisciplinas.nome.$error.required">
						<span class="glyphicon glyphicon-ok"></span>
					</button>
					<button ng-click="removerDisciplina(disciplina)" class="btn btn-xs btn-danger">
						<span class="glyphicon glyphicon-remove"></span>
					</button>					
				</td>
			</tr>
		</tbody>
		</table> 	
  		
        </div>             
        
	</form>

	</div>	
</body>

</html>